/*
 * Style sheet for Igc2000 Web Site
 */


/*
 *  Navigation bar
 */
div.navbar {
    font-weight: bold;
    text-align: center; 
}
div.navbar a:link {
    color: green;
}
div.navbar a:visited {
    color: green;
}
div.navbar a:active {
    color: green;
}
div.navbar a:focus {
    color: red;
}
div.navbar a:hover {
    color: red;
}

div.logos {
    text-align: center;
}
div.search {
    text-align: center; 
    margin: 0.0in; 
}
div.tophorzbar {
    text-align: center; 
    margin: 0.05in; 
}
div.bottomhorzbar {
    text-align: center; 
    margin: 0.05in; 
}
td.horzbar {
    background: #008811;
    height: 2px;
}


/*
 *  Main body
 */
body {
    background: #ffffee;
    color: black;
    margin: 0.05in;
}
a:link {
    color: green;
}
a:visited {
    color: maroon;
}
a:active {
    color: maroon;
}
a:focus {
    color: red;
}
a:hover {
    color: red;
}

img {
}

div.body {
}

div.heading {
    text-align: center;
    color: green;
    font-size: 15pt;
    font-weight: bold;
    padding: 0.05in;
}

div.copyright {
    text-align: center;
    color: black;
    font-size: 10pt;
    font-weight: normal;
    padding: 0.0in;
}

span.hiddencounter {
    visibility: hidden;
}
div.accesscounter {
    text-align: center;
    margin: 0.15in; 
}
