/*
 * Style sheet for Hyoungsoo Yoon's Home Page
 */


/*
 * Header and footer table
 */

table.header {
    color: #009911;
}
table.header td.logo {
    font-family: 'Times New Roman',Helvetica,Georgia,Arial; 
    font-size: 18pt;
    color: #009911;
}
table.header td.menu {
    font-family: Georgia,'Times New Roman',Helvetica,Arial; 
    font-size: 10pt;
    color: #009911;
}
table.header a:link {
    color: #009911;
}
table.header a:visited {
    color: #009911;
}
table.footer {
    font-size: 9pt;
}
td.horzbar {
    background: #009911;
}


/*
 * Left navigation bar
 */

td.navcolumn {
    background: gold;
    color: black;
    font-size: 0.5em;
}
td.vertbar {
    background: red;
    color: black;
}

/*
 * Main Body
 */

body {
    background: ivory;
    color: black;
    margin-top: 0.08in;
    margin-bottom: 0.12in;
}
a:link {
    color: green;
}
a:visited {
    color: orange;
}
a:active {
    color: red;
}
a:focus {
    color: red;
}
a:hover {
    color: red;
}

img {
    border-style: none; 
    border-width: 0;
}

dt {
    font-weight: bold;
}
span.abstract {
    color: blue;
    font-weight: bold;
}
span.download {
    color: blue;
    font-weight: bold;
}

div.copyright {
    text-align: center;
    color: black;
    font-size: 10pt;
    font-weight: normal;
    padding-top: 0.0in;
    padding-bottom: 0.0in;
}
div.accesscounter {
    text-align: center;
    margin-top: 0.1in; 
    margin-bottom: 0.2in; 
}
span.hiddencounter {
    visibility: hidden;
}
