/*
 *  Default style sheet for Hyoungsoo Yoon's Home Page
 */

/* 
 * Cumstomization
 */
body {
    background: white;
    color: black;
    width: 100%;
}
a:link {
    color: blue;
}
a:visited {
    color: maroon;
}
a:active {
    color: orange;
}
a:focus {
    color: orange;
}
a:hover {
    color: red;
}

