/*
 * Style sheet for Web Resume
 */


/*
 *  Navigation bar
 */
div.navbar {
    font-weight: bold;
}
div.navbar a:link {
    color: green;
}
div.navbar a:visited {
    color: green;
}
div.navbar a:active {
    color: maroon;
}
div.navbar a:focus {
    color: red;
}
div.navbar a:hover {
    color: red;
}


/*
 *  Main body
 */
body {
    background: white;
    color: black;
/*    width: 95%; */
    margin-top: 0.08in;
    margin-bottom: 0.12in;
}
a:link {
    color: green;
}
a:visited {
    color: orange;
}
a:active {
    color: red;
}
a:focus {
    color: red;
}
a:hover {
    color: red;
}

span.pagetitle {
    color: blue;
    font-weight: bolder;
}

div.letterhead {
    text-align: center;
    color: black;
    font-size: 11pt;
    font-weight: bold; 
}
div.letterhead span.address {
    font-size: 0.8em;
    font-weight: normal;
}
div.copyright {
    text-align: center;
    color: black;
    font-size: 10pt;
    font-weight: normal;
    margin: 0.05in;
}

table.pageheading { 
    border-style: hidden;
    table-layout: fixed;
    color: black;
    font-family: 'Times New Roman',Georgia,Arial,Helvetica; 
    width: 100%;
    padding: 0.0in;
    cellpadding: 0.0in;
    cellspacing: 0.0in;
    border: 0.0in;
}
table.pageheading col { 
    border-style: none solid;
    vertical-align: top;
}
table.pageheading col#col1 { 
    text-align: left;
    width: auto;
}
table.pageheading col#col2 { 
    text-align: center;
    width: 22em;
}
table.pageheading col#col3 { 
    text-align: right;
    width: auto;
}


/*
 * Cover Page
 */
div.coverletter {
    text-align: left;
    font-family: 'Times New Roman',Georgia,Arial,Helvetica; 
/*    font-size: 1.0em; */
    font-weight: normal; 
    color: black;
/*    background: url("/images/bgivory.gif"); */
    background: ivory;
    margin: 0.1in;
    padding: 0.2in;
    padding-left: 0.3in;
    border-style: none;
    border-width: medium;
}
div.coverletter div.signature {
    width: 350;
    text-align: left;
    color: black;
    font-weight: bold; 
}
div.coverletter div.signature span.address {
    font-size: 10pt;
    font-weight: normal;
}


/*
 * Short Biography
 */
div.biography {
    text-align: left;
    font-family: 'Times New Roman',Georgia,Arial,Helvetica; 
    color: black;
    margin: 0.05in;
    padding: 0.01in;
    border-style: none;
}
div.biography h2 {
    color: red;
    background: silver;
}


/*
 * Career Objective
 */
h3.slideheading {
    text-align: center;
    font-size: 25pt; 
    font-weight: 700; 
    font-family: Arial,Helvetica; 
    color: red;  
}
ul li.slidelistitem {
    font-size: 15pt; 
    font-weight: 500; 
    font-family: Arial,Helvetica; 
    color: blue;  
}


/*
 * Brief Resume
 */
h2.resumetitle {
    color: red;
    font-weight: bold;
    text-size: 1.4em;
    text-align: center;
}
table.resume { 
    width: 100%;
    table-layout: fixed;
    border-style: solid;
    border-width: 5px;
    border-color: silver;
    border-collapse: collapse;
    color: black;
    font-family: Georgia,'Times New Roman',Arial,Helvetica; 
    padding: 0.15in;
}
table.resume td { 
    border-style: solid;
    border-width: 4px;
    border-color: silver;
    vertical-align: top;
    background: ivory;
    padding: 0.1in;
}
table.resume td.index {
    text-align: center; 
    font-weight: bold;
    width: 120px;
}
table.resume td.content { 
    text-align: left;
    padding-left: 0.0in;
    padding-bottom: 0.0in;
}
span.subject {
    color: blue;
    text-align: center;
    font-weight: bold;
}


/*
 * Summary
 */

table.summary { 
    width: 100%;
    table-layout: fixed;
    border-style: none;
    border-collapse: collapse;
    font-family: Georgia,'Times New Roman',Arial,Helvetica; 
    padding: 0.1in;
}
table.summary td {
    background: #EEEEEE;
    border: 3px solid white;
    vertical-align: top;
    padding: 0.1in;
}
table.summary td.left { 
    text-align: center;
    width: 140px;
}
table.summary td.right { 
    text-align: left;
    padding-left: 0.1in;
}
span.title {
    color: red;
    font-weight: bold;
    text-align: center;
}
table.contact td {
    border: 0px none;
    vertical-align: top;
    padding: 0px;
}


/*
 * Principal Reference
 */
div.bigtext {
    text-align: center;
    font-size: 20pt; 
    font-weight: 700; 
    color: red;  
    font-family: Georgia,Arial,Helvetica; 
    background: gold;
    margin: 0.3in;
    margin-left: 0.6in;
    margin-right: 0.6in;
    padding: 0.2in;
    border-style: solid;
    border-width: medium;
    border-color: maroon;
}


/*
 * Publication List
 */
div.publist {
    text-align: left;
    font-family: 'Times New Roman',Georgia,Arial,Helvetica; 
    background: #EEEEEE;
    margin: 0.1in;
    padding: 0.2in;
    padding-left: 0.3in;
    margin-bottom: 0in;    
    border-style: none;
    border-width: medium;
}

div.publist dt {
    font-weight: bold;
}


/*
 * Software List
 */
div.software {
    text-align: left;
    font-family: 'Times New Roman',Georgia,Arial,Helvetica; 
    background: #EEEEEE;
    margin: 0.1in;
    padding: 0.2in;
    padding-left: 0.3in;
    margin-bottom: 0in;    
    border-style: none;
    border-width: medium;
}

div.software dt {
    font-weight: bold;
}
