/*
 * Style sheet for Igc2000 Web Site
 */


/*
 *  Main body
 */
body {
    background: #fffffa;
    color: black;
    margin-top: 0.05in;
    margin-bottom: 0.1in;
}
a:link {
    color: green;
}
a:visited {
    color: maroon;
}
a:active {
    color: maroon;
}
a:focus {
    color: red;
}
a:hover {
    color: red;
}

img {
    border-style: none; 
    border-width: 0;
}

span.hiddencounter {
    visibility: hidden;
}
