/*
 * Style sheet for Publication List
 */

body {
    background: url("images/bggraybar.gif");
    color: black;
    margin-top: 0.3in;
    margin-bottom: 0.15in;
    margin-left: 0px;
}
a:link {
    color: green;
}
a:visited {
    color: orange;
}
a:active {
    color: red;
}
a:focus {
    color: red;
}
a:hover {
    color: red;
}

td.navcolumn {
    font-size: 9pt;
}

span.dot {
    font-size: 15pt;
    font-weight: bold;
}

*.smallfont {
    font-size: 0.8em;
}

span.subtitle {
    font-size: 0.8em;
    color: blue;
    text-shadow: 2px 2px aqua;
}
h1 span.subtitle {
    font-size: 0.6em;
    color: green;
    text-shadow: 2px 2px yellow;
}

dt {
    font-weight: bold;
}
span.download {
    color: red;
    font-weight: bold;
}

/* body.papersummary */
div.abstract {
    color: black;
}
div.authors {
    color: black;
    font-size: 0.9em;
    text-align: right;
}
div.journalinfo {
    text-indent: 1em;
    font-weight: bolder;
}
span.journalname {
    font-style: italic;
}
div.download {
    color: red;
    text-indent: 1em;
    font-weight: bold;
}

