/*
 * Style sheet for Research Projects
 */


/*
 *  Main body
 */
body {
    background: ivory;
    color: black;
    width: 95%;
    margin-top: 0.05in;
    margin-bottom: 0.12in;
}
a:link {
    color: green;
}
a:visited {
    color: orange;
}
a:active {
    color: red;
}
a:focus {
    color: red;
}
a:hover {
    color: red;
}

body.leftbar {
/*    background: ivory; */
    width: 100%;
    color: black;
    font-size: 10pt;
}
body.leftbar h4 {
    font-size: 12pt;
}
/*
body.leftbar ul {
    padding-left: 0.2in;
    margin-left:  0.0in;
}
body.leftbar ul li {
    padding-left: 0.0in;
    margin-left:  0.0in;
}
*/
span.dot {
    font-size: 15pt;
    font-weight: bold;
}

*.smallfont {
    font-size: 0.8em;
}

span.subtitle {
    font-size: 0.9em;
    color: blue;
    text-shadow: 2px 2px aqua;
}
h1 span.subtitle {
    font-size: 0.7em;
    color: green;
    text-shadow: 2px 2px yellow;
}

