/*
 * Style sheet for Hobby
 */

body {
    background: white;
    color: black;
    width: 95%;
    margin-top: 0.08in;
    margin-bottom: 0.12in;
}
a:link {
    color: green;
}
a:visited {
    color: orange;
}
a:active {
    color: red;
}
a:focus {
    color: red;
}
a:hover {
    color: red;
}

body.leftbar {
    background: white;
    color: black;
    width: 160;
    font-size: 0.8em;
}
body.leftbar ul {
    padding-left: 0.2in;
    margin-left:  0.0in;
}
body.leftbar ul li {
    padding-left: 0.0in;
    margin-left:  0.0in;
}

*.smallfont {
    font-size: 0.8em;
}

span.subtitle {
    font-size: 0.8em;
    color: blue;
    text-shadow: 2px 2px aqua;
}
h1 span.subtitle {
    font-size: 0.6em;
    color: green;
    text-shadow: 2px 2px yellow;
}


body.hobbysummary div.description {
    color: black;
}
body.hobbysummary div.link {
    text-indent: 1em;
    font-weight: bolder;
}
