/*
 * Style sheet for Hyoungsoo Yoon | Links
 */


/*
 * Header and footer table
 */

table.header {
    color: #009911;
}
table.header td.logo {
    font-family: 'Times New Roman',Helvetica,Georgia,Arial; 
    font-size: 18pt;
    color: #009911;
}
table.header td.menu {
    font-family: Georgia,'Times New Roman',Helvetica,Arial; 
    font-size: 10pt;
    color: #009911;
}
table.header a:link {
    color: #009911;
}
table.header a:visited {
    color: #009911;
}

div.search {
    text-align: center; 
    margin-top: 0.0in; 
    margin-bottom: 0.0in;
}
div.header {
    text-align: center; 
}
div.footer {
    text-align: center; 
    margin: 0.0in; 
}
div.tophorzbar {
    text-align: center;
    margin-top: 0.03in;
    margin-bottom: 0.08in;
}
div.bottomhorzbar {
    text-align: center;
    margin-top: 0.08in;
    margin-bottom: 0.0in;
}
td.horzbar {
    background: #009911;
    height: 2px;
}
table.footer {
    font-size: 9pt;
}


/*
 * Left navigation bar
 */

table.body {
    margin: 0.0in;
}
td.navcolumn {
    font-family: 'Times New Roman',Helvetica,Georgia,Arial; 
    font-size: 11pt;
    font-weight: bold;
    padding: 0.02in;
    width: 150;
}
td.navcolumn a:link {
    color: green;
}
td.navcolumn a:visited {
    color: green;
}
td.navcolumn a:active {
    color: red;
}
td.navcolumn a:focus {
    color: green;
}
td.navcolumn a:hover {
    color: red;
}

td.vertbar {
    background: #009911;
    padding: 0px;
}
td.mainbody {
    padding: 0.1in;
}
div.leftindex {
    text-align: right;
    margin-top: 0.1in;
    margin-bottom: 0.0in;
    margin-left: -0.5in;
    margin-right: 0.08in;
}



/*
 * Main Body
 */

body {
    background: ivory;
    color: black;
    margin-top: 0.08in;
    margin-bottom: 0.12in;
}
a:link {
    color: green;
}
a:visited {
    color: orange;
}
a:active {
    color: red;
}
a:focus {
    color: red;
}
a:hover {
    color: red;
}

dt {
    font-weight: bold;
}
span.abstract {
    color: blue;
    font-weight: bold;
}
span.download {
    color: blue;
    font-weight: bold;
}

