/*
 * Style sheet for Software List
 */

body {
    background: white;
    color: black;
    width: 95%;
    margin-top: 0.2in;
    margin-bottom: 0.15in;
}
a:link {
    color: blue;
}
a:visited {
    color: maroon;
}
a:active {
    color: red;
}
a:focus {
    color: red;
}
a:hover {
    color: red;
}


body.leftbar {
    width: 100%;
    color: black;
    font-size: 10pt;
}
body.leftbar h4 {
    font-size: 12pt;
}
span.dot {
    font-size: 15pt;
    font-weight: bold;
}

*.smallfont {
    font-size: 0.8em;
}

span.subtitle {
    font-size: 0.8em;
    color: blue;
    text-shadow: 2px 2px aqua;
}
h1 span.subtitle {
    font-size: 0.6em;
    color: green;
    text-shadow: 2px 2px yellow;
}



body.softwaresummary div.description {
    color: black;
}
body.softwaresummary div.date {
    color: black;
    font-size: 0.9em;
    text-align: right;
}
body.softwaresummary div.version {
    color: black;
    font-size: 0.9em;
    text-align: right;
}
body.softwaresummary div.download {
    text-indent: 1em;
    font-weight: bold;
}

